* {
    box-sizing:border-box;
}
body
{
    margin: 0 0 0 0;
}
header
{
    text-align: center;
    background-image: url(/images/croissants_banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding-bottom: 1em;
    
}
header p
{
    font-style: italic;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.5em;
}
nav
{
    background-color: rgb(134, 54, 2);
    font-size: 90%;   
}
#logo
{
    padding-top: 1em;
}
#award
{   
    position: absolute;
    top: 5%;
    left: 5%;
} 
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  nav ul li a { 	
    display: block;	
    border: 1px solid; 	
    border-radius: .5em; 	
    padding: .5em 1em; 	
    margin: .5em; 
    text-decoration: none;
  } 
a
{
    color: orange;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: small;
    text-decoration-style: dotted;
}
a:hover
{
    color: white;
}
h2
{
    color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main h3
{
    color: brown;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 0.05em solid;
    border-left: 0.15em solid;
    padding-left: 0.5em;
}
main
{
    padding: 1em;
    border: 0.3em double rgb(251, 187, 161);
    border-radius: 1.5em;
    margin: 2.5em;
}
main img
{
   float: left;
   margin: 0 1em 1em 0;
   shape-outside: ellipse();
}
main p
{   color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main a
{
    font-size: small;
    letter-spacing: normal;
}
main a:hover
{
    color: orangered;
}
.more
{
    clear: left;
}
aside
{
    background: beige url(/images/scallop.png) left repeat-y;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1em;
    padding-left: 3em;
    margin: 2.5em 2.5em 0em 8em;
    border-radius: 1.5em;
}
aside h3
{
    text-transform: capitalize;
    color: black;
    letter-spacing: 0.1em;
}
.day
{
    text-transform: uppercase;
    color: rgba(134, 55, 2, 0.667);
}
footer
{
    text-align: center;
    font-size: 90%;
    color: white;
    background-color: rgb(157, 82, 29);
    padding: 0.7em;   
}